body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0c040;
}
/* fix size for all images */
img {
  max-width: 100%;
  display: block;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row.center {
  align-items: center;
}
.section {
  padding: 0.75rem;
  margin: 0.5rem;
  background-color: #bee8f7;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.page_content {
  align-items: flex-start;
}

/* large only */
@media screen and (min-width: 1025px) {
  .page_content .section-area-right {
    order: 2;
  }
  .page_content .section-area-left {
    order: 1;
  }
}
/* medium only */
@media screen and (max-width: 1025px) and (min-width: 640px) {
  .page_content .section-area-right {
    width: 100%;
    margin: 0 10px 10px 10px;
  }
  .page_content .section-area-left {
    width: 100%;
  }
}
/* small only */
@media screen and (max-width: 640px) {
  .page_content .section-area-right {
    width: 100%;
    margin: 0 10px 10px 10px;
  }
  .page_content .section-area-left {
    width: 100%;
    margin: 0;
  }
}
/*
========================================
card style
----------------------------------------
*/
.card {
  width: 21.5%;
  background-color: white;
  padding: 1rem;
  margin: 0 0 11px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2px;
}
.card .mask_image {
  height: 8rem;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* medium only */
@media screen and (max-width: 1025px) and (min-width: 640px) {
  .card {
    width: 32.7%;
    padding: 6px;
  }
}
/* small only */
@media screen and (max-width: 640px) {
  .card {
    width: 49%;
    padding: 6px;
  }
}
.card button {
  padding: 0.75rem 0.5rem;
  background-color: #f0c040;
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
  color: white;
  font-weight: bold;
}
/* 
--------------------------------

------------------------------------
 */
.badge {
  width: 1.5rem;
  height: 1.25rem;
  border-radius: 15%;
  background-color: rgb(222, 73, 73);
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  align-items: center;
  text-align: center;
  line-height: 1.25rem;
  position: absolute;
  top: 24px;
  right: 243px;
}
.buttons-container {
  display: flex;
  align-items: center;

  .add {
    background-color: rgb(8, 174, 240);
    border: none;
    border-radius: 4px;
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    margin: 0.25rem;
  }
  .remove {
    background-color: rgb(222, 73, 73);
    border: none;
    border-radius: 4px;
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    margin: 0.25rem;
  }
}

.search-input {
  width: 30%;
  padding: 0.75rem;
  outline: none;
  border: none;
  border-radius: 2px;
  margin-bottom: 2rem;
}

/* loading */
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.loading-spinner {
  color: white;
  font-size: 2rem;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Icon */
.icon-style {
  font-size: 20px;
  color: rgb(222, 73, 73);
  margin-right: 6px;
  margin-top: 6px;
  position: relative;
}
.section-area-left {
  width: 70%;
}
.section-area-right {
  width: 25%;
}

/* Modal*/
.modal-style {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: white;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.buttons-container-modal {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
}
.modal-agree,
.modal-disagree {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 1rem;
}
.modal-disagree {
  background-color: #f44336;
}
.modal-agree:hover,
.modal-disagree:hover {
  opacity: 0.8;
}
.button-modal {
  width: 50%;
  background-color: rgb(222, 73, 73);
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  margin-top: 2rem;
}
.button-modal:hover {
  background-color: rgb(196, 55, 55);
}

.width-item-xl {
  width: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}
.width-item-m {
  width: 25%;
  flex-grow: 0;
  flex-shrink: 0;
}

/* Form - create new product */
.form-container {
  max-width: 400px;
  margin: 4rem auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.submit-button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #45a049;
}
